.dropdown-menu {
    color: black;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px ;
    text-align: left;
    font-family: helvetica;
    min-width: 190px !important;
    
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus{
    background-color: aliceblue;
    color: #01b0d1;
    
}

.call {
    font-weight: 600;
    color: #fff;
}

.call-wrp {
    font-weight: bold;
    color: #fff;
}

.call-now {
    text-align: center;
    color: #fff;
}
.call-now__dark {
    text-align: center;
    color: dimgrey;
}

.subtitle-top  {
    color: #fff !important;
}

.coupon {
    border: 2px dashed grey;
    transition: all .2s ease-in-out;
}

.coupon:hover{
  transform: scale(1.1);
}
.service-box {
    transition: all .2s ease-in-out;
}

.service-box:hover {
    transform: scale(1.1);
}


#parallax-springs {
	height:100%;
	width:100%;
	top:0;
	position:fixed;
	background-image:url(/assets/img/springsb1.jpg);  /*http://unsplash.it/1600/600?random=1*/
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -100;
}

#parallax-openers {
	height:100%;
	width:100%;
	top:0;
	position:fixed;
	background-image:url(/assets/img/services/opener1.jpg);  /*http://unsplash.it/1600/600?random=1*/
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -100;
}

#parallax-new-doors {
	height:100%;
	width:100%;
	top:0;
	position:fixed;
	background-image:url(/assets/img/services/gdcc.jpg);  /*http://unsplash.it/1600/600?random=1*/
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -100;
}